
.wrapper {
    min-height: 20vh;
    /*padding: 2vh 3em; */
    color: hsl(0, 100%, 100%);
    font-size: 130%;
    padding: 3em;
}

.wrapper a {
    color: #4CAF50
}

h1 {
    line-height: 1.5;
    display: inline;
    background-image: linear-gradient(transparent 50%,
            #2BAE66FF 50%,
            #2BAE66FF 85%,
            transparent 85%,
            transparent 85%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
}

@keyframes animatedBackground {
    to {
        background-size: 100% 100%;
    }
}

.centr {
    text-align: center;
    position: relative;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*Page styles*/


.boxes {
    margin: auto;
    padding: 3em;
    /*    background: #484848;*/
    font-family: 'Fira Code', monospace;
    border: 0.1875em solid;
    border-image-source: linear-gradient(to right, #8CCAC9, #74BEA5, #9ABF7A, #E0AA2E);
    border-image-slice: 1;
    min-height: 20vh;
    padding: 3em 3em;
    color: hsl(0, 100%, 100%);
    font-size: 130%;
}

p {
    text-align: left;
}

dt {
    text-decoration: underline;
}

.command {
    max-width: 35em;
    padding-top: 1em;
}

/*Checkboxes styles*/
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 2.5em;
    margin-bottom: 2.5em;
    font: 0.875em/1.25em 'Open Sans', Arial, sans-serif;
    color: #ddd;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}

input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 1.25em;
    height: 1.25em;
    border: 0.0625em solid #4CAF50;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
    width: 0.625em;
    top: -0.3125em;
    left: 0.3125em;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
@media (max-width: 625px) {

    img.command {
        display: none;
    }
}
