/*The Main HTML file that sets the background and dimensions */
html{
    
    background: #000000; /* fallback for old browsers */
    font-family: 'IBM Plex Sans', sans-serif;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
}

#cont {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#bgimage{
    background-image: url(assets/background_code.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25em;
    margin-top: 5em;
}

#term {
  height: 25em; /* changed from 20rem to ...*/
  width: 35em; /* changed from 25rem to ... */
  background: #111;
  border: 1px solid #fff; /* was #252525 now is white */
  border-radius: 0.5em;
  box-shadow: 0 0 4em rgba(0, 0, 0, 0.4);
}

#term-bar {
  height: 2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #252525;
  justify-content: space-between;
}

#term-winctrl {
  padding: 0.5em;
}

#term-btn {
  width: 0.8em;
  height: 0.8em;
  border-radius: 0.5em;
  display: inline-block;
  margin: 0.1em;
}
#term-btn.close { /*was #term #term-btn.close*/
  background-color: #ff3b30;
}
#term-btn.minimise { /*was #term #term-btn.minimise*/
  background-color: #ffcc00;
}
#term-btn.maximise { /*was #term #term-btn.maximise*/
  background-color: #28cd41;
}

#term-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85em;
  color: #ddd;
  margin: auto 0;
}

#term-bar-gh {
  display: inline-block;
  width: 4.5em;
  height: 2em;
  padding: 0.5em;
  text-align: right;
  margin: 0;
}
#term-bar-gh svg {
  width: 1em;
  height: 1em;
  fill: #666;
}

#term-cont {
  font-family: 'Inconsolata', monospace;
  color: #fff;
  padding: 0.5em;
}

#term-cmd {
  background: none;
  margin: 0;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1.5em;
}

#term-caret {
  display: inline-block;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}
#term-caret.blink {
  color: transparent;
}

#term-input-hide {
  opacity: 0;
  background: none;
  border: 0;
  color: transparent;
  position: absolute;
}
#term-prompt {
  font-size: 1.5em;
}
